@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Regular.ttf"); }
/* GENERAL STYLES */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: "Montserrat", Arial, sans-serif;
  margin: 0;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column; }

.header {
  background-color: #2098d1;
  color: #ffffff;
  padding: 15px 0 15px 0;
  display: flex;
  flex-direction: column; }

h1 {
  text-align: center;
  font-size: 4em; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0; }

main {
  display: flex;
  flex-direction: column;
  margin: 5em 10em 5em 10em; }

aside {
  display: flex;
  margin: 0 15px 0 15px;
  flex: 1;
  flex-direction: column; }

table {
  border: none; }
  table th {
    font-weight: 600;
    padding-right: 1em; }

input {
  box-shadow: none;
  width: 10em;
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s; }

input:focus {
  outline: none;
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696; }

footer {
  padding: 30px 0 10px 0;
  background-color: #222222;
  color: #ffffff;
  font-size: small; }

div {
  margin: 20px; }

p {
  margin-top: 20px; }

/* NAVIGATION */
nav {
  display: flex; }

.logo img {
  height: 80px; }

.logo_nav {
  display: flex;
  align-items: center;
  margin: 0; }

.flex_nav {
  background-color: #2098d1;
  justify-content: flex-start;
  margin-left: auto; }
  .flex_nav ul {
    display: flex; }
  .flex_nav li {
    padding: 10px; }

.nav_link {
  color: #ffffff;
  transition: border-bottom 0.2s ease;
  display: inline-block;
  text-align: center;
  position: relative; }

.nav_link:hover {
  border-bottom: 2px solid #444444; }

.nav_active {
  border-bottom: 2px solid #ffffff; }

.toggle_nav {
  display: none;
  text-align: center;
  color: #ffffff;
  padding: 5px 10px 5px 10px;
  border: 2px solid #ffffff;
  max-width: 100px;
  justify-content: center; }

.icon_square {
  width: 40px;
  margin-right: 20px; }

.article_main {
  flex: 4;
  display: flex;
  flex-direction: column; }

/* HOME */
.home_main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  border: 3px solid #595959; }
  .home_main a {
    color: #ffffff; }

.home_block {
  flex: 1;
  min-width: 350px;
  background-color: #ffffff;
  transition: all 0.3s;
  text-align: center;
  -webkit-flex: 1 1 15em;
  border: 3px solid #595959;
  background-color: #262626; }

.home_block:hover {
  background-color: #808080; }

.home_thumb_img {
  max-width: 300px; }

.home_header {
  height: 85vh;
  min-height: 400px; }

.tagline {
  font-size: 1.5em;
  text-align: center; }

.home_quote_container {
  min-height: 300px;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  justify-content: center; }

.home_quote_content {
  max-width: 800px;
  display: flex;
  flex-direction: column; }

blockquote::before {
  position: relative;
  content: "“";
  display: block;
  width: 100%;
  text-align: center;
  font-size: 66px;
  font-family: "Source Code Pro", "Courier New";
  color: #045f8c; }

blockquote {
  margin-bottom: 20px; }

.img_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap; }
  .img_container li a {
    flex: 1;
    margin: 5px;
    width: calc(20% - 10px); }

.next_page_link {
  width: 100%;
  background-color: #2098d1;
  transition: background-color 0.3s ease;
  height: 50px;
  text-align: center;
  margin: 0;
  color: #ffffff;
  padding-top: 15px; }

.next_page_link:hover {
  background-color: #016e98; }

/* FOOTER */
.footer_column {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.footer_link {
  color: #ffffff;
  text-decoration: none;
  font-size: 16pt;
  font-weight: 400; }

.footer_block {
  display: inline-block;
  max-width: 33%; }
  .footer_block li {
    margin: 10px 0; }
  .footer_block i {
    font-size: 18pt; }
  .footer_block img {
    max-width: 150px; }

.footer_h3 {
  font-size: 18pt;
  border-bottom: 2px solid #ffffff; }

/* Underline From Center */
/* Pulled from hover.css See: http://ianlunn.github.io/Hover/ */
.underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden; }

.underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #2098d1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.underline-from-center:hover:before, .underline-from-center:focus:before, .underline-from-center:active:before {
  left: 0;
  right: 0; }

.logo_mobile {
  display: none; }

/* MEDIA STYLES */
@media all and (max-width: 900px) {
  h1 {
    font-size: 3em; }

  .tagline {
    font-size: 1.2em; }

  .header {
    min-height: 350px;
    height: 60vh; }
    .header * {
      order: 2; }

  .logo_nav {
    order: 3;
    margin-top: 20px;
    justify-content: center; }

  .flex_nav {
    margin-left: 0; }
    .flex_nav ul {
      flex-wrap: wrap; }
    .flex_nav li {
      flex: 1 1 50%;
      text-align: center; }

  .home_quote_content {
    flex: 6; }

  .logo {
    order: 1;
    padding: 0;
    align-self: center; }

  .logo_mobile {
    display: block; }

  .logo_main {
    display: none; }

  main {
    margin: 5em; }

  .footer_column {
    flex-direction: column; }

  .footer_block {
    max-width: 70%; } }
@media all and (max-width: 500px) {
  h1 {
    font-size: 2.5em; }

  .flex_nav {
    align-content: center;
    flex-direction: column;
    margin: 10px; }
    .flex_nav li {
      flex-basis: 100%; }
    .flex_nav ul {
      display: none; }

  .flex_nav:hover ul {
    display: block;
    background-color: #2098d1; }

  main {
    margin: 5em 2em; }

  .home_header {
    min-height: 275px;
    height: 50vh; }

  .toggle_nav {
    display: block;
    min-width: 50%; }

  .home_quote_padding {
    display: none; }

  .footer_column {
    display: flex;
    flex-direction: column;
    align-content: space-around; }

  .footer_block {
    max-width: 100%; }

  #instafeed {
    margin: 5px; } }

/*# sourceMappingURL=basic.css.map */
